.wrapper {
    width: 1070px;
    margin: 0 auto;    
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    padding: 40px 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    display: block;
    margin-bottom: 20px;
}

.menu{
    background: #5a5a5a;
    overflow: auto;
}

.menu li{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 20px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.main{
    overflow: hidden;
    }

.nav-menu{
    float: left;
    margin-top: 30px;
}

.li{
    width: 215px;
    height: 30px;
    border: 1px solid #dbdbdb; 
    padding-left: 20px;
    padding-top: 10px;
}

.a{
    text-decoration: none;
}

.bike-block{
    float: right;
    width: 630px;
    border: 1px solid #dbdbdb;
    margin: 30px;
    margin-bottom: 20px;
    padding-left: 120px; 
    padding-top: 35px;
    padding-bottom: 35px;
}

.p{
    float: right;
    width: 670px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.block{
    background-color: #dbdbdb;
    overflow: auto;
    margin-bottom: 60px;
}

.block-li{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin:0  20px;
}

.block-a{
    color: black;
    text-decoration: none;
    padding: 0  20px;
}

.block-b{
    color: black;
    text-decoration: none;
    margin-left: 330px;
}